:root {
	--lightyellow: #ffc300;
}
.clear {
	clear: both;
}
.is-mob {
	display: none;
}
.is-pc {
	display: block;
}
.top-row {
	background: var(--light);
}
svg.svg {
	width: 250px;
	height: 58.35px;
}
svg.schn {
	fill: var(--green);
}
.logo-row a, .top-row a {
	color: var(--dark);
}
.logo-row .col-md-2 {
	text-align: right;
}
.top-row ul {
	padding: 0;
	list-style: none;
	clear: both;
}
.top-row ul li {
	display: inline-block;
	float: left;
	width: 50%;
}

.menu {
	background: var(--lightyellow);
}
.menu ul {
	padding: 0;
	list-style: none;
}
.menu ul li {
	display: inline-block;
	float: left;
	text-transform: uppercase;
}
.menu ul li a {
	color: var(--white);
}
.menu ul li a:hover {
	text-decoration: none;
}



.slider {
	height: 460px;
	position: relative;
	margin-top: -35px;
}
.slider .caption {
	background-color: rgba(255, 255, 255, .7);
}
.swiper-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-slide {
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}	 

.projects-title {
	background: var(--blue);
	height: 70px;
}
.projects-title .container {
	position: relative;
}
.projects-title .title {
	background: var(--lightyellow);
	color: var(--white);
	text-transform: uppercase;
	display: inline-block;
	position: absolute;
	top: 35px;
}

.banner {
	height: 240px;
	position: relative;
	margin-top: -35px;
	background: url(/assets/images/bg-title.jpg) center center no-repeat;
}
.banner h1 {
	color: var(--white);
	text-transform: uppercase;
}

.sidebar {
}
.sidebar ul {
	list-style: none;
}
.sidebar ul li a {
	color: var(--dark);
}
.sidebar ul li i {
	color: var(--lightyellow);
}
.sidebar ul li:hover i {
	color: var(--blue);
}

.footer {
	background: var(--gray);
	color: var(--light);
	font-size: 12px;
}
.footer svg {
	fill: var(--light);
	width: 115px;
	height: 27px;
}
.footer .title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: var(--light) 1px solid;
}
.footer ul {
	list-style: none;
}
.footer a {
	color: var(--light);
}

a.yellow-button {
	background: var(--lightyellow);
	color: var(--dark);
}

span[role="spinner"] {
	display: none;
}
.alert {
	display: none;
}
[role="top-menu"] {
	display: none;
}

@media (max-width:769px) {
	.logo-row, .logo-row .col-md-2 {
		text-align: center;
	}
	.is-pc {
		display: none;
	}
	.is-mob {
		display: block;
	}
	.slider {
		margin-top: -30px;
		height: 300px;
	}
	.banner {
		margin-top: -30px;
	}
}